/* 歌詞フォント */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');
/* 名前フォント */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
/*  */

body{
    background: linear-gradient(
    rgba(12, 2, 58, 0.7),
    rgba(26, 6, 109, 0.6) 58%,
    rgba(41, 4, 202, 0.6) 86%,
    rgba(144, 34, 0, 0.6));
    display: block;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sekaowa{
    background-image: url(../images/yozora.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 900px;
    height: 700px;
    margin: 60px auto;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sekaowa:hover{
    background-image: url(../images/utyuu.png);
    opacity: 0.7;
}

.kasi{
    font-size:20px;
    color:white;
    text-shadow: 2px 2px 2px black;
    line-height:1.5;
    padding: 40px;
    padding-top: 60px;
    text-align: center;
    font-family: "Kaisei Opti", serif;
    
}

.ttl{
    text-align: center;
    color: white;
    text-shadow:
    0 0 5px #ffff00,
    0 0 10px #ffff00,
    0 0 20px #ffff00,
    0 0 40px #ffff00,
    0 0 80px #ffff00;
    padding-top: 50px;
}

.name{
    text-align: center;
    text-shadow: 
    0 0 10px #000000,
    0 0 20px #000000,
    0 0 40px #000000,
    0 0 80px #00bfff;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    text-shadow: 
    0 0 10px #00bfff,
    0 0 20px #000000,
    0 0 40px #000000,
    0 0 80px #000000;
}

span{
    font-family: "DotGothic16", sans-serif;
}

.team{
    width: 900px;
    /* margin: 50px auto; */
    border-collapse: separate;
    border-spacing: 20px;
    display: block;
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
    text-shadow: 
    0 0 10px #000000,
    0 0 20px #000000,
    0 0 40px #000000,
    0 0 80px #00bfff;
}

.team td{
    width: 160px;
    height: 70px;
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    transition: 0.5s;
}

.team a{
    display: block;
    line-height: 70px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.team td:hover{
    background-color: rgba(255,255,255,0.3);
    transform: scale(1.05);
}


